@page
@model AS_Assigment2.Pages.error._403Model
@{
    ViewData["Title"] = "Access Denied";
}
<div class="container text-center" style="color: #888;">
    <h1 style="font-size: 150px; color: #d9534f; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px;">Access Denied</p>
    <p>You do not have permission to view this page.</p>
    <p>Please navigate back to the <a asp-page="/Login" class="btn btn-primary">Login Page</a></p>
</div>
